* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* left panel */
.left-panel {
    width: 400px;
    background-color: #0078D7;
    color: white;
    text-align: center;
}
.left-panel div {
    font-weight: 600;
    font-size: 20px;
    margin: 18px;
    text-align: left;
}
.left-panel h1 {
    font-weight: 500;
    font-size: 50px;
    margin: 130px 0 40px;
}
.left-panel p {
    margin: 0 40px;
    line-height: 30px;
    font-size: 20px;
}
.left-panel button {
    margin-top: 50px;
}
.left-panel button:hover {
    background-color: #FFFFFF;
    color: #0078D7;
    transition: 0.25s;
}

/* right panel */
.right-panel {
    flex: auto;
    background-color: #FFFFFF;
    text-align: center;
}
.right-panel h1 {
    font-weight: 600;
    font-size: 46px;
    color: #0078D7;
    margin: 50px 0 25px;
}
.icon-container {
    display: inline-block;
    border: 2px solid #C4C4C4;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    margin: 0 18px;
    cursor: pointer;
}
.icon-container i {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container:hover {
    transform: scale(1.3);
    transition: 0.25s;
}
.right-panel p {
    margin: 40px 0 10px;
    font-weight: 600;
    font-size: 18px;
    color: #C4C4C4;
}
.right-panel input {
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    height: 50px;
    width: 580px;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 20px;
}
.right-panel input:focus {
    border: 1px solid  #0078D7;
    transition: 0.2s;
}
.right-panel button {
    margin-top: 20px;
}
.right-panel button:hover {
    background-color: #0076d788;
    transition: 0.25s;
}

/* utilities */
.button {
    background-color: #0078D7;
    outline: none;
    border: 2px solid #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
}